.main-layout {
    background-color: #fff;
    display: grid;
    grid-template-columns: 60px auto 60px;
}

.note-index {
    grid-column: 2;
    text-align: center;
    /* background-color: #fff; */
}