.email-list {
    display: grid;
    list-style-type: none;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 15px;
    gap: 2px
    ;
  }
  

  .email-details {
background-color: blue;
width: 500px;
height:  500px;
position: absolute;
  }